apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: dev

patches:
- path: replicas.yaml

configMapGenerator:
- name: mykustom-map
  env: config.properties