apiVersion: networking.k8s.io/v1

kind: Ingress
metadata:
  name: demo-ingress
  namespace: dev
spec:
  ingressClassName: nginx
  rules:
  - host: demo.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: kustom-mywebapp-v1
            port:
              number: 80
