name: Deploy to Production

on:
  push:
    branches: ["main"] # Triggered by the commit from Repo A

jobs:
  apply-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Config Code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Authenticate K8s
        uses: azure/k8s-set-context@v3
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Apply to Cluster
        run: |
          kubectl apply -k k8s-1/overlays/prod
          
      - name: Verify Rollout
        run: |
          kubectl rollout status deployment/mywebapp -n prod --timeout=60s
